@import url('https://fonts.cdnfonts.com/css/afacad');
@import url('https://fonts.cdnfonts.com/css/ubuntu');

html {
  font-size: 0.85rem;
}

.afacad {
  font-family: 'Afacad', sans-serif;
}

.ubuntu {
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Ubuntu Condensed', sans-serif;
}

.modal-backdrop-filter {
  background-color: rgba(0, 0, 0, 0.247) !important;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.font-5 {
  font-size: 0.5rem;
}

.font-6 {
  font-size: 0.6rem;
}

.font-7 {
  font-size: 0.7rem;
}

.font-8 {
  font-size: 0.8rem;
}

.font-85 {
  font-size: 0.85rem;
}

.pointer {
  cursor: pointer;
}

.disable-scrollbar::-webkit-scrollbar {
  display: none;
}

.disable-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.disable-select {
  user-select: none;
}

.text-preline {
  white-space: pre-line;
}

.table-transparent {
  background-color: transparent !important;
}

.table-transparent th,
.table-transparent td {
  background-color: transparent !important;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.card-container:hover {
  transition: 0.5s ease-in-out;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.group-card-thumb {
  object-fit: cover;
  aspect-ratio: 1/1;
  cursor: pointer;
  user-select: none;
}

.card-img-thumb-disbled {
  filter: grayscale(1)
}

.group-card-thumb-layer {
  object-fit: cover;
  aspect-ratio: 1/1;
  background-color: rgba(0, 0, 0, 0.775);
  z-index: 999;
  cursor: pointer;
  user-select: none;
}

.group-card-thumb-dana {
  object-fit: cover;
  aspect-ratio: 1/1;
  background-color: rgba(255, 255, 255, 0.459);
  z-index: 999;
  cursor: pointer;
  user-select: none;
}

.dashboard-profile-container {
  width: 55px;
}

.dashboard-profile-image {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  padding: 0;
  margin: 0;
}

.dashboard-user-container {
  background-color: rgba(255, 255, 255, 0);
}

.dashboard-user-container:hover {
  background-color: rgba(255, 255, 255, 0.252) !important;
  color: #ffc107;
  transition: 0.5s ease-in-out;
}

.dashboard-user-container-error {
  background-color: rgba(245, 0, 0, 0.404);
}

.dashboard-user-container-warning {
  background-color: rgba(245, 200, 0, 0.2);
}

.dashboard-user-image-container {
  width: 70px;
  height: 70px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-user-image-thumb {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.device-card-container-layer {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(0px) saturate(1);
}

.device-card-container-layer:hover {
  background: rgba(0, 0, 0, 0.404);
  color: #ffc107;
  transition: 0.5s ease-in-out;
  backdrop-filter: saturate(0) blur(5px);
}

.device-card-pill {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1px 8px;
  font-size: 0.65rem;
  font-weight: bold;
  border-radius: 10px;
}

.group-recommend-card:hover {
  color: #ffc107;
  transition: 0.3s ease-in-out;
  transform: scale(1.02) translateY(-5px);
}

.group-recommend-card-pill {
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 0.75rem;
  padding: 2px 5px;
  border-radius: 12px;
  font-weight: bold;
}

.float-btn {
  position: fixed;
  z-index: 999;
  bottom: 100px;
  right: 35px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px 4px rgba(138, 137, 137, 0.315);
  border-radius: 100%;
}

.float-btn:hover {
  transform: rotate(360deg);
  transition: 0.5s ease-in-out;
}

.pagination .page-item .page-link {
  color: rgb(255, 255, 255);
}

.pagination .page-item.active .page-link {
  background-color: #ffc107;
  border-color: #ffc107;
  color: #030303;
}